<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid seven-cols">
    <div class="col-xs-1 kingdom rank"" ng-class="background.setRankingClasses('Kingdom')" >Kingdom</div>
    <div class="col-xs-1 phylum rank" ng-class="background.setRankingClasses('Phylum')">Phylum</div>
    <div class="col-xs-1 class rank" ng-class="background.setRankingClasses('Class')">Class</div>
    <div class="col-xs-1 order rank" ng-class="background.setRankingClasses('Order')">Order</div>
    <div class="col-xs-1 family rank" ng-class="background.setRankingClasses('Family')">Family</div>
    <div class="col-xs-1 genus rank" ng-class="background.setRankingClasses('Genus')">Genus</div>
    <div class="col-xs-1 species rank" ng-class="background.setRankingClasses('Species')">Species</div>
  </div>
</nav>

<div class="background">
  <div class="container-fluid">
    <div class="row">
    

      <!-- 'my animal' column -->
      <div class="col col-xs-6">
        <div class="recessed">

          <div class="content" ng-if="background.start" ng-controller="Start as start" ng-include="'/animals/static/app/start/start.html'"> <!-- leaving this as a controllerAs for now. -->
          </div>
          <div class="content" ng-if="background.tree || background.end" ng-controller="UserObject as user" ng-include="'/animals/static/app/userObject/myAnimal.html'">
          </div>
        </div>
      </div>


      <!-- 'feed'/'options' column -->
      <div class="col col-xs-6">
        <div class="recessed">

          <div class="content" ng-if="background.start" ng-controller="FeedCtrl" ng-include="'/animals/static/app/feed/feed.html'">
          </div>

          <div class="content" ng-if="background.tree" ng-controller="Tree" ng-include="'/animals/static/app/tree/tree.html'">
          </div>

          <div class="content" ng-if="background.end" ng-controller="Species as species" ng-include="'/animals/static/app/species/species.html'">
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
