<h1>Identify Your Mystery Animal!</h1>

<div ng-if="start.myAnimalReference===null">
  <h2>Add what you know about your animal, for reference</h2>
  <form ng-submit="start.uploadUserData()">
    <input type="file" ng-model="start.userImage" accept="image/*" />
    <input type="submit" value="Upload Now!" />
    <input type="text" ng-model="start.userDescription" placeholder ="add an optional description" />
  </form>
</div>


<div ng-include="'/app/myAnimal.html'"></div>


<div>
  <a class="btn btn-lg btn-default" ng-click="start.openTree()">Start at the Beginning</a>

  <a class="btn btn-lg btn-default" ng-if="start.iKnow===false" ng-click="start.iKnow = true">I already know some things</a>
</div>

<div ng-if="start.iKnow===true">
  <div ng-include="'app/start/additionalButtons.html'">
  </div>
<a class="btn btn-lg btn-default" ng-click="start.iKnow = false">Never Mind</a>
</div>




