<h1>Identify Your Mystery Animal!</h1>

<!-- took the animal object out of the DOM here, I'm going to manually add it instead I think.  -->

<div ng-class="{'hideMe': start.hideUserAnimal === true}">
  <img ng-src="{{start.userImage}}">
  <h5>{{start.userDescription}}</h5>
</div>

<div ng-class="{'hideMe': start.hideUserAnimal === false}">
  <form ng-submit="start.uploadUserData()">
    <h2>Add what you know about your animal, for reference</h2>
    <input type="file" ng-model="start.userImage" accept="image/*" />
    <input type="text" ng-model="start.userDescription" placeholder ="add an optional description" />
    <input type="submit" class="btn btn-lg btn-default" ng-class="{'hideMe': start.hideUserAnimal === false}" value="Upload Now!" />
  </form>   
</div>




<div ng-class="{'hideMe': start.hideUserAnimal === true}">
  <a class="btn btn-lg btn-default" ng-click="start.hideUserAnimal=true; start.userDescription = '';
" ng-class="{'hideMe': start.hideUserAnimal === true}">Reset</a>
  <a class="btn btn-lg btn-default" ng-click="start.openTree()">Start at the Beginning</a>

  <a class="btn btn-lg btn-default" ng-if="start.iKnow===false" ng-click="start.iKnow = true">I already know some things</a>
</div>

<div ng-if="start.iKnow===true">
  <div ng-include="'app/start/additionalButtons.html'">
  </div>
<a class="btn btn-lg btn-default" ng-click="start.iKnow = false">Never Mind</a>
</div>


<h1>RECENTLY IDENTIFIED ANIMALS</h1>
<div ng-repeat="animal in start.feed">
  <img ng-src="{{animal.picture}}">
  <p>{{animal.name}}</p>
  <p>{{animal.description}}</p>
</div>
