<div id="tree">
<h1 class="feed-title">Traverse The Tree</h1>

<form  ng-submit="tree.traverse()">

    <div class="inner-recessed">
      <div class="feed-card"  ng-class="{'specialTest': tree.selectedSubtaxa===subtaxa}" ng-repeat="subtaxa in tree.currentTaxa.child_taxa | filter:notDisabled">
        <div class="btn-group" data-toggle="buttons">
          <p>This animal also {{subtaxa.specialData.question}}</p>
         <!-- this button opens the Modal. -->
          <a class="btn inline-button btn-success" ng-click="tree.openModal(subtaxa.name)">More Info</a>
         <!-- these two buttons show/hide based on whether the taxa is selected. -->
          <label class="btn btn-success inline-button" ng-class="{'hideMe' : tree.selectedSubtaxa === subtaxa}""> 
            <input type="radio" ng-value="subtaxa" name="subtaxaOptions" ng-model="tree.selectedSubtaxa">Select This Taxa
          </label>

          <a class="btn btn-success inline-button" ng-class="{'hideMe': tree.selectedSubtaxa !== subtaxa}" ng-click="tree.selectedSubtaxa = null">Deselect</a>
        </div>
      </div>
    </div>
    <div class="tree-buttons">
        <!-- SUBMIT BUTTON -->
        <button class="btn btn-lg btn-success" type="submit" ng-class="{'disabled': tree.selectedSubtaxa === null}">Submit</button> 
        <!-- GO BACK BUTTON -->
       <button class="btn btn-lg btn-success" ng-click="tree.goBackButton()">Go Back</button>
       
       <!-- reverse the filter. -->
       <button ng-if="tree.primary===true" ng-click="tree.primary=false" class="btn btn-lg btn-success">None Of These</button>
       <button ng-if="tree.primary===false" ng-click="tree.primary=true" class="btn btn-lg btn-success">Back to Questions</button>
    </div>
    </form>
</div>




