<h1 class="feed-title">My Animal</h1>

<div class="inner-recessed">
<div ng-controller="UserObject" class="feed-card">
  <div class="card-img">
    <img ng-src="{{userInfo.url}}">
  </div>
  <p>Notes: {{userInfo.description}}</p>
  <div class="clearfix"></div>
</div>

<h1 class="feed-title active-rank">Current Answer</h1>
<div class="feed-card">
  <p ng-if="animalObject.question === ''">{{animalObject.name}}</p>
  <p ng-if="animalObject.question !== ''">This animal {{animalObject.question}}</p>
  <a ng-click="user.openModal(animalObject.name)" class="btn btn-success inline-button">More info</a>
  <div class="clearfix"></div>
</div>

<h1 class="feed-title completed-rank">Previous Answers</h1>
<div class="user-inner-recessed">
<div class="feed-card" ng-repeat="answer in animalObject.supertaxa">
  <!-- <p ng-if="answer.question ===''">This animal {{answer.question}}</p> -->
  <p>{{ answer.name }}</p>
  
  <a href="#/tree/{{answer.name}}" class="btn btn-success inline-button">Go Back to here</a>
  <a ng-click="user.openModal(answer.name)" class="btn btn-success inline-button">More info</a>
  <div class="clearfix"></div>
</div>
</div>
</div>
<div class="tree-buttons">
<a href="#/start" class="btn btn-success">Start Over</a>
</div>
