$light-tan-color: #f9f6eb;
$tan-shadow: #f3edd8;
$dark-charcoal-color: #4e4b4b;
$charcoal-color: #827d7d;
$celery-color: #c1e09f;
$dark-celery-color: #5b872c;
$red-color: #e0af9f;
$white: #fff;

.background {
  background-color: $light-tan-color;
  height: 100vh;
  padding-top: 110px;
}

.navbar {
  background-color: $charcoal-color;
  box-shadow: inset 0 -5px 15px $dark-charcoal-color;
  height: 120px;
  padding-top: 10px;

  .rank {
    color: $light-tan-color;
    text-align: center;
    text-shadow: 5px 5px 15px $dark-charcoal-color;
  }

  .active-rank {
    color: $celery-color;
  }

  .completed-rank {
    color: $red-color;
  }

  // added these sub-classes to make the different-length words look better centered.
  .phylum {
    margin-left: 45px;
  }

  .class {
    margin-left: 40px;
  }
}//end of nav-bar.

.recessed {
  background-color: $charcoal-color;
  border-radius: 12px;
  box-shadow: inset 5px 5px 15px $dark-charcoal-color;
  height: 80vh;
  margin: 0 25px;
  overflow-y: scroll;
}


