<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container-fluid">
  <div class="row seven-cols">
    <div class="col-md-1"><div ng-class="background.setRankingClasses('Kingdom')" class="kingdom rank">Kingdom</div></div>
    <div class="col-md-1"><div ng-class="background.setRankingClasses('Phylum')" class="phylum rank">Phylum</div></div>
    <div class="col-md-1"><div ng-class="background.setRankingClasses('Class')" class="class rank">Class</div></div>
    <div class="col-md-1"><div ng-class="background.setRankingClasses('Order')" class="order rank">Order</div></div>
    <div class="col-md-1"><div ng-class="background.setRankingClasses('Family')" class="family rank">Family</div></div>
    <div class="col-md-1"><div ng-class="background.setRankingClasses('Genus')" class="genus rank">Genus</div></div>
    <div class="col-md-1"><div ng-class="background.setRankingClasses('Species')" class="species rank">Species</div></div>
  </div>
</div>
  </div>

      </div>
    </div>
</nav>

<div class="background">
  <div class="container-fluid">
    <div class="row">
    

      <!-- 'my animal' column -->
      <div class="col col-xs-6">
        <div class="recessed">
          <div ng-if="background.start" ng-controller="Start as start" ng-include="'app/start/start.html'">
          </div>
          <div ng-if="background.tree">
            <div ng-controller="UserObject as user" ng-include="'app/userObject/myAnimal.html'"></div>
          </div>
          <div ng-if="background.end">
            <div ng-controller="UserObject as user" ng-include="'app/userObject/myAnimal.html'"></div>
          </div>
        </div>
      </div>


      <!-- 'feed'/'options' column -->
      <div class="col col-xs-6">
        <div class="recessed">
          <div ng-if="background.start" ng-controller="FeedCtrl as feed" ng-include="'app/feed/feed.html'">
          </div>
          <div ng-if="background.tree">
            <div ng-controller="Tree as tree" ng-include="'app/tree/tree.html'"></div>
          </div>
          <div ng-if="background.end">
            <div ng-controller="Species as species" ng-include="'app/species/species.html'"></div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
