.feed-title {
  color: $light-tan-color;
  font-size: 4em;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
  text-shadow: $standard-grey-shadow;
}

.feed-card {
  background-color: $light-tan-color;
  border-radius: 12px;
  box-shadow: $standard-grey-shadow;
  margin: 35px auto;
  width: 95%;

  .feed-img {
    padding: 4px;
    width: 100%;

    img {
      border-radius: 12px 12px 0 0;
      width: 100%;
    }
  }

  p {
    display: inline-block;
    font-size: 2em;
    padding: 12px;
  }

  a {
    display: inline-block;
    float: right;
    margin: 12px;
  }
}
