

<h1 class="feed-title">Recently Identified Animals</h1>


    <div class="feed-card" ng-repeat="animal in feed.feed | orderBy: 'date': true">
      <div class="card-img">
        <img class="img-responsive" ng-src="{{animal.picture}}">
      </div>
      <p class="inline-text">this animal was identified as a {{animal.name}} on {{animal.date}}</p>
      <button ng-click="feed.openModal(animal.name)" class="btn btn-success inline-button">More Info</button>
      <div class="clearfix"></div>
    </div>
