<h1>Animal Identification</h1>
<p>current taxa name: {{identer.currentTaxa.name}}</p>
<p>current taxa level: {{identer.currentTaxa.rank}}</p>

<ul ng-repeat="subtaxa in identer.currentTaxa.child_taxa">
  <li>
  <!-- add questions in here based on the subtaxa names.  -->
    <a class="btn btn-default" ng-click="identer.setUpPage(subtaxa.name)">{{subtaxa.name}}</a>
    <a class="btn btn-danger" ng-click = "identer.populateTaxaCard(subtaxa.name)">More Info</a>
  </li>
</ul>


<!-- Start Over Button. -->
<button class="btn btn-warning" ng-click="identer.setUpPage('mammalia')">Start Over</button>

<!-- go back button. grabs the classification data (last item is the next up) and re-GETs. -->
<button class="btn btn-success" ng-click="identer.setUpPage(identer.currentTaxa.classification[identer.currentTaxa.classification.length - 1].name)">Go Back</button>


