<h1>Animal Identification</h1>
<p>current taxa name: {{identer.currentTaxa.name}}</p>

 <p>current taxa level: {{identer.currentTaxa.rank}}</p>

<!--<ul ng-repeat="subtaxa in identer.currentTaxa.child_taxa">
  <li>
  {{subtaxa.name}}
  add questions in here based on the subtaxa names. 
    <a class="btn btn-default" ng-click="identer.setUpPage(subtaxa.name)">{{subtaxa.question}}</a>
    
  </li>
</ul> -->


<!-- Start Over Button. -->


<!-- go back button. grabs the classification data (last item is the next up) and re-GETs. -->



<form name="childrenForm" ng-submit="identer.setUpPage(identer.mysubtaxa)">

  <div class="radio" ng-repeat="subtaxa in identer.currentTaxa.child_taxa">
    <label for="{{subtaxa.name}}">{{subtaxa.name}}
      <input type="radio" ng-model="identer.mysubtaxa" id="{{subtaxa.name}}" ng-value="subtaxa.name">
    </label>
    <!-- more info link -->
    <a class="btn btn-danger" ng-click="identer.openModal(subtaxa.name)">More Info</a>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<button class="btn btn-warning" ng-click="identer.setUpPage('animalia')">Start Over</button>

<button class="btn btn-success" ng-click="identer.setUpPage(identer.currentTaxa.classification[identer.currentTaxa.classification.length - 1].name)">Go Back</button>

