<div class="modal-header">
  <h3>{{modalController.data.commonName}}</h3>
  <h5>Scientific Name: {{modalController.data.scientificName}}</h5>
</div>

<div class="modal-body">
  <!-- image div. This doesn't work, get help. -->
  <div style="height: 305px">
    <uib-carousel active="0">
      <uib-slide ng-repeat="image in modalController.data.pictures track by $index" index="$index">
        <img ng-src="{{image}}" style="margin:auto;">
      </uib-slide>
    </uib-carousel>
  </div>

  <!-- text div -->
  <div ng-repeat="text in modalController.data.textStuff">
    <div ng-bind-html="renderHtml(text)"></div>
  </div>

<div class="modal-footer">
  <button type="button" class="btn" 
          data-ng-click="modalController.cancel()">Back</button>
  <button class="btn btn-primary" 
          data-ng-click="modalController.ok(modalController.data.scientificName);">Select This Taxa</button>
</div>
