<h1>Traverse The Tree</h1>

<!-- TODO: change this to a common name instead of the scientific name.  -->
<h1>I know my animal is a: {{tree.currentTaxa.name}}</h1>

 <p>current level: {{tree.currentTaxa.rank}}</p>

<div class="container">
  <div class="row">
    <!-- empty left column -->
    <div class="col col-xs-1">
    </div>

    <!-- Centered main content column -->
    <div class="col col-xs-10">
      <div class="row">
        <div class="col col-xs-4" ng-repeat="subtaxa in tree.currentTaxa.child_taxa">
          <!-- nested div for margin purposes -->
          <div>
           <!-- TODO: put an image here once I load the switch statement images into firebase. -->
           <h3>{{subtaxa.question}}</h3>
           <!-- this button opens the Modal. -->
           <a class="btn btn-lg btn-default" ng-click="tree.openModal(subtaxa.name)">More Info</a>
           <!-- this button is basically a replacement for a radio button. it will get a little target on it when it's clicked, and will make sure only one is clicked, and will set a variable in the controller that will be submitted.-->
           <a class="btn btn-lg btn-default" href="#" ng-click="$event.preventDefault(); tree.mySubtaxa = subtaxa.name"> >>>>> </a>
          </div><!-- end of nested sub-div. -->
        </div><!-- end of 'col' repeated div.-->
      </div><!-- end of 'row' card div. -->
      <ng-submit class="btn btn-lg btn-default" ng-submit="tree.loadSubtaxa(tree.mySubtaxa)">Submit</ng-submit>
    </div>


    <!-- empty right column -->
    <div class="col col-xs-1">
    </div>
  </div>
</div>

<button class="btn btn-lg btn-default" ng-click="tree.loadSubtaxa('Chordata')">Start Over</button>
<!-- this button goes back to the previous classification using the API-received object. -->
<button class="btn btn-lg btn-default" ng-click="tree.loadSubtaxa(tree.currentTaxa.classification[tree.currentTaxa.classification.length - 1].name)">Go Back</button>
