.specialTest {
  border: 2px solid green;
}

.hideMe {
  display: none;
}

.modal-body {
  max-height: 600px;
  overflow-y: scroll;
}

.infoImages {
  height: 400px;
}

.infoImages img {
  max-height: 400px;
  margin: auto;
}


.speciesColumn {
  height: 800px;
}

.speciesText {
  height: 240px;
  overflow-y: scroll;
}
