<h1 class="feed-title">My Animal</h1>

<div ng-controller="UserObject as user" class="feed-card">
  <div class="card-img">
    <img ng-src="{{user.userAnimal.url}}">
  </div>
  <p>Notes: {{user.userAnimal.description}}</p>
  <div class="clearfix"></div>
</div>

<h1 class="feed-title">Current Answer</h1>
<div class="feed-card">
  <p>This animal {{user.userAnimal.masterQuestion.question}}</p>
  <a ng-click="user.openModal(user.userAnimal.masterQuestion.name)" class="btn btn-success inline-button">More info</a>
  <div class="clearfix"></div>
</div>

<h1 class="feed-title">Previous Answers</h1>
<div class="user-inner-recessed">
<div class="feed-card" ng-repeat="answer in user.userAnimal.questionArray">
  <p>This animal {{answer.question}}</p>
  <a href="#/tree/{{answer.name}}" class="btn btn-success inline-button">Go Back to here</a>
  <a ng-click="user.openModal(answer.name)" class="btn btn-success inline-button">More info</a>
  <div class="clearfix"></div>
</div>
</div>

<div class="tree-buttons">
<a href="#/start" class="btn btn-success">Start Over</a>
</div>
